<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.kennyramadhan.qa.core.reporting.TestListeners"/>
		<listener class-name="io.qameta.allure.testng.AllureTestNg"/>
	</listeners>

	<test name="E2E Mobile">
		<classes>
			<class name="com.kennyramadhan.qa.tests.mobile.LoginTests" />
			<class name="com.kennyramadhan.qa.tests.mobile.ProductsAndCartTests" />
			<class name="com.kennyramadhan.qa.tests.mobile.CheckoutTests" />
		</classes>
	</test>

</suite> <!--
Suite -->
