<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Extent.Listeners.TestListeners"></listener>
	</listeners>

	<test name="E2E Mobile">
		<classes>
			<class name="com.kennyramadhan.qa.tests.mobile.E2EMobileTest">
				<methods>
					<include name="login" />
					<include name="failedLogin" />
					<include name="sortingPrice" />
					<include name="addAllProductsFromListing" />
					<include name="addProductsFromDetails" />
					<include name="addMultipleProducts" />
					<include name="redirectionToProductListing" />
					<include name="verifyDetailsProductIntoCart" />
					<include name="checkoutPositiveFlow" />
					<include name="checkoutNegativeFlow" />
				</methods>
			</class>
		</classes>

	</test>

</suite> <!--
Suite -->
